/** App.css **/
/** Shared styles throughout entire application **/

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


* {
  font-family: 'Lato', sans-serif;
}


.center-content {
  height: calc(100% - 96.5px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.skeleton-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.event-details {
  display: flex;
  flex-direction: column;
}

.event-title {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 5%;
  margin-top: 5%;
}

.event-time,
.event-date,
.event-location,
.event-description {
  font-size: smaller;
}

.attachments {
  color: primary;
  font-size: smaller;
}